<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/HAVMUN-transformed.png') }}">
    <title>Conclusions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/acceptance.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generalstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="toggle-nav" class="toggle-checkbox">
    <label for="toggle-nav" class="toggle-btn">
        <img src="{{ url_for('static', filename='img/HAVMUN-transformed.png') }}" alt="Menú">
    </label>
    <nav class="navegation-bar">
        <ul> 
            <li><a href="{{ url_for('home') }}">INICIO</a></li>
            <li><a href="{{ url_for('edition') }}">EDICIÓN XXVIII</a></li>
            <li><a href="{{ url_for('our_team') }}">NUESTRO EQUIPO</a></li>
            <li><a href="{{ url_for('history') }}">HISTORIA DEL MODELO</a></li>
            <li><a href="{{ url_for('academic_design') }}">DISEÑO ACADÉMICO</a></li>
            <li><a href="{{ url_for('take_part') }}">CÓMO PARTICIPAR</a></li>
            <li><a href="{{ url_for('votation_system') }}">SISTEMA DE VOTACIÓN</a></li>
            <li><a href="{{ url_for('contact_us') }}">CONTÁCTANOS</a></li>
            <li><a href="{{ url_for('resources') }}">RECURSOS ACADÉMICOS</a></li>
        </ul>
    </nav>


    <div class="content">
        <div class = "card">   
            <p>Quorum:</p>
            <p>Presentes:</p>
            <p>A Favor:</p>
            <p>En Contra:</p>
            <p>Porcentaje:</p>
        </div>
    </div>
</body>
</html>