<!DOCTYPE html>
<html> 
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/HAVMUN-transformed.png') }}">
    <title>Havmun</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/comision3.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generalstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="toggle-nav" class="toggle-checkbox">
    <label for="toggle-nav" class="toggle-btn">
        <img src="{{ url_for('static', filename='img/HAVMUN-transformed.png') }}" alt="Menú">
    </label>
    <nav class="navegation-bar">
        <ul> 
            <li><a href="{{ url_for('main.home') }}">INICIO</a></li>
            <li><a href="{{ url_for('main.edition') }}">EDICIÓN XXVIII</a></li>
            <li><a href="{{ url_for('main.our_team') }}">NUESTRO EQUIPO</a></li>
            <li><a href="{{ url_for('main.history') }}">HISTORIA DEL MODELO</a></li>
            <li><a href="{{ url_for('main.academic_design') }}">DISEÑO ACADÉMICO</a></li>
            <li><a href="{{ url_for('main.take_part') }}">CÓMO PARTICIPAR</a></li>
            <li><a href="{{ url_for('main.votation_system') }}">SISTEMA DE VOTACIÓN</a></li>
            <li><a href="{{ url_for('main.contact_us') }}">CONTÁCTANOS</a></li>
            <li><a href="{{ url_for('main.resources') }}">RECURSOS ACADÉMICOS</a></li>
            

        </ul>
    </nav>

    <div class="content">
        <h1>Noticias y documentos de interés</h1>
        <ul class="commissions">
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/A_62_126_ES.pdf') }}"download="A/RES/62/126"> A/RES/62/126</a></li>  
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/A_76_463-EN.pdf') }}" download="A/RES/76/463">A/RES/76/463 </a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/A_76_PV.53-EN.pdf') }}" download="A/RES/PV.53">A/RES/PV.53</a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/A_C.3_76_L.6-EN.pdf') }}" download="A/RES/C.3/76/L.6">A/RES/C.3/76/L.6</a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/A_RES_63_195_ES.pdf') }}" download="A/RES/63/195">A/RES/63/195</a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/Declaracion_de_Lima_VCumbreALC-UE_2008.pdf') }}" download="Declaracion_de_Lima_VCumbreALC-UE_2008">Declaración de Lima en Quinta Cumbre América Latina y Caribe– Unión Europea</a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/Noticias.docx') }}" download="Noticias">Noticias</a></li>
            
        </ul>
