<!DOCTYPE html>
<html> 
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/HAVMUN-transformed.png') }}">
    <title>Havmun</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/comision4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generalstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="toggle-nav" class="toggle-checkbox">
    <label for="toggle-nav" class="toggle-btn">
        <img src="{{ url_for('static', filename='img/HAVMUN-transformed.png') }}" alt="Menú">
    </label>
    <nav class="navegation-bar">
        <ul> 
            <li><a href="{{ url_for('home') }}">INICIO</a></li>
            <li><a href="{{ url_for('edition') }}">EDICIÓN XXVIII</a></li>
            <li><a href="{{ url_for('our_team') }}">NUESTRO EQUIPO</a></li>
            <li><a href="{{ url_for('history') }}">HISTORIA DEL MODELO</a></li>
            <li><a href="{{ url_for('academic_design') }}">DISEÑO ACADÉMICO</a></li>
            <li><a href="{{ url_for('take_part') }}">CÓMO PARTICIPAR</a></li>
            <li><a href="{{ url_for('votation_system') }}">SISTEMA DE VOTACIÓN</a></li>
            <li><a href="{{ url_for('contact_us') }}">CONTÁCTANOS</a></li>
            <li><a href="{{ url_for('resources') }}">RECURSOS ACADÉMICOS</a></li>
            

        </ul>
    </nav>

    <div class="content">
        <h1>Noticias y documentos de interés</h1>
        <ul class="commissions">
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/DERECHO NUCLEAR- DEBATE MUNDIAL.pdf') }}"download="Derecho Nuclear"> Derecho Nuclear-Debate Mundial</a></li>  
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/Examen periódico de las centrales nucleares.pdf') }}" download="Examen periódico de las centrales nucleares">Examen periódico de las centrales nucleares </a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/INFORME ANUAL DEL OIEA DE 2022.pdf') }}" download="INFORME ANUAL DEL OIEA DE 2022">Informe Anual de OIEA(2022)</a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/LA LABOR DEL COMITÉ CIENTÍFICO DE LAS NACIONES UNIDAS.pdf') }}" download="LA LABOR DEL COMITÉ CIENTÍFICO DE LAS NACIONES UNIDAS">Labor del Comité Científico de las Naciones Unidas</a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/Manual para las delegaciones 78 AGNU.pdf') }}" download="Manual para las delegaciones 78 AGNU">Manual para las delegaciones.Sesión 78 AGNU</a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/Nuclear Safety and Security.pdf') }}" download="Nuclear Safety and Security">Nuclear Safety and Security</a></li>
            <li><a href="{{ url_for('static', filename='pdfs/Comissions/Protección radiológica y seguridad de las fuentes de radiación- Normas básicas internacionales de seguridad.pdf') }}" download="Protección radiológica y seguridad de las fuentes de radiación- Normas básicas internacionales de seguridad">Protección radiológica y seguridad de las fuentes de radiación</a></li>
            
        </ul>
