<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/HAVMUN-transformed.png') }}">
    <title>Havmun</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ourteam.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generalstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="toggle-nav" class="toggle-checkbox">
    <label for="toggle-nav" class="toggle-btn">
        <img src="{{ url_for('static', filename='img/HAVMUN-transformed.png') }}" alt="Menú">
    </label>
    <nav class="navegation-bar">
        <ul> 
            <li><a href="{{ url_for('main.home') }}">INICIO</a></li>
            <li><a href="{{ url_for('main.edition') }}">EDICIÓN XXVIII</a></li>
            <li><a href="{{ url_for('main.our_team') }}">NUESTRO EQUIPO</a></li>
            <li><a href="{{ url_for('main.history') }}">HISTORIA DEL MODELO</a></li>
            <li><a href="{{ url_for('main.academic_design') }}">DISEÑO ACADÉMICO</a></li>
            <li><a href="{{ url_for('main.take_part') }}">CÓMO PARTICIPAR</a></li>
            <li><a href="{{ url_for('main.votation_system') }}">SISTEMA DE VOTACIÓN</a></li>
            <li><a href="{{ url_for('main.contact_us') }}">CONTÁCTANOS</a></li>
            <li><a href="{{ url_for('main.resources') }}">RECURSOS ACADÉMICOS</a></li>
        </ul>
    </nav>
    
    <div class="content">
        <h1>Nuestro Equipo</h1>
        <div class="team-container">
            <div class="team-info">
                <div class="pleca">Secretaría General:</div>
                <p>• Presidenta del Comité Organizador: Dra.C Amanda Laura Prieto</p>
                <p>• Secretaria General HAVMUN 2024: Nathaly Rodríguez Pavón</p>
                <p>• Subsecretaria: Simone González Senra</p>
    
                <div class="pleca">Académico:</div>
                <p>Coordinador: Luciano Leyva Quintana</p>
                <p>• Melissa Curbelo</p>
                <p>• Ignacio David Sayas</p>
    
                <div class="pleca">Logística:</div>
                <p>Coordinador: Ariadna Heredia</p>
                <p>• Carmen Alvarez</p>
                <p>• Gabriel Linares</p>
                <p>• David Zaragoza</p>
                <p>• Carlos Suñé</p>
                <p>• Aymara Heredia</p>
                <p>• Alejandra Martínez</p>
                <p>Coordinador: Joyma González</p>
                <p>• María Fernanda Silverio</p>
                <p>• Lisandra Enrique</p>
                <p>• Manuel Alejandro Andrés</p>
                <p>• Ariadna Pacheco</p>
                <p>• Alejandra Travieso</p>
                <p>• Karla Chapman</p>
                <p>• Talia Núñez</p>
    
                <div class="pleca">Relaciones Internacionales:</div>
                <p>Coordinador: Meisel Galvez</p>
                <p>• Albert Seneca</p>
                <p>• Dayassi Pazos</p>
                <p>• Noel Quintana</p>
                <p>• Rachel Labrada</p>
    
                <div class="pleca">Ejecutivo:</div>
                <p>• Carolina Olivaris</p>
                <p>• Grace Valdés</p>
    
                <div class="pleca">Comunicación:</div>
                <p>Coordinador: Amalia Hernández</p>
                <p>• Kamila Valdés</p>
                <p>• Sofía Santamarina</p>
                <p>• Olivia Perera</p>
                <p>• Frank Hernández</p>
            </div>
    
            <div class="team-images">
                <img src="{{ url_for('static', filename='img/equipo1.JPG') }}" alt="Comité organizador">
                <img src="{{ url_for('static', filename='img/equipo2.jpg') }}" alt="Comité organizador">
                <img src="{{ url_for('static', filename='img/equipo3.jpg') }}" alt="Comité organizador">
            </div>
        </div>
    </div>
    
    
    
    
    

</body>
</html>